.App {
  text-align: center;
}

.route {
  display: flex;
  justify-content: center;
}

.route__option {
  margin: 0 10px;
}

.route__option-lable {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  border: 2px solid navy;
  padding: 10px;
}

.form__category {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  margin-bottom: 10px;
}

.result {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 1px solid black;
  margin: 0 0 5px;
  padding-inline-start: 0;
}

.result:first-of-type {
  border: 2px solid black;
}

.result__item {
  width: 170px;
  border: 1px solid black;
}

.result__ticket {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
