.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

.form__category {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.form__button {
  cursor: pointer;
}
.result-hidden {
  visibility: hidden;
}
.result-visible {
  visibility: visible;
  margin: 10px;
}

.result__admin {
  visibility: hidden;
}
